<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDo9hv2Ame5UX6LEwu1MzVuWxjsSkqBcCM</string>
	<key>GCM_SENDER_ID</key>
	<string>827638135527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getx.app.db.appmm</string>
	<key>PROJECT_ID</key>
	<string>appm-5c863</string>
	<key>STORAGE_BUCKET</key>
	<string>appm-5c863.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827638135527:ios:6bf8aef28ecb00c7a8c042</string>
</dict>
</plist>